colormath==3.0.0
fastai==2.7.17
Flask==3.0.3
flask_sqlalchemy==3.1.1
matplotlib==3.9.2
numpy==1.26.4
opencv_python_headless==4.7.0.72
pandas==2.2.3
Pillow==10.4.0
Requests==2.32.3
scikit_learn==1.5.2
torch==2.4.1
torchvision==0.16.2
torchaudio==2.4.1
--extra-index-url https://download.pytorch.org/whl/cpu