Flask==3.0.3
requests==2.32.3
opencv-python-headless==4.7.0.72  # Headless version for server use
numpy==1.26.4
scikit-learn==1.5.2
Flask-SQLAlchemy==3.1.1
webcolors==1.11.1
colormath==3.0.0
fastai==2.7.17
torch==2.4.1+cu118  # Use CPU version if not running on GPU
torchvision==0.19.1+cu118
Pillow==9.1.0